@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 28% 17%;
    --background-gray: 215 14% 34%;
    --foreground: 188 86% 53%;

    --primary: 191 63% 35%;
    --primary-foreground: 188 86% 53%;

    --accent: 21 90% 48%;
    --accent-foreground: 25 95% 53%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 191 63% 35%;
    --muted-foreground: 220 8.9% 46.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --card: 0 0% 100% 0;
    --card-foreground: 188 86% 53%;

    --popover: 215 28% 17%;
    --popover-foreground: 188 86% 53%;

    --border: 188 86% 53%;
    --input: 191 63% 35%;
    --ring: 188 86% 53%;

    --radius: 0.5rem;
  }

  /* .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .center {
    @apply flex items-center justify-center;
  }
  .theme-shadow {
    @apply transition-all hover:-translate-x-[3px] hover:-translate-y-[3px] hover:shadow-accent-3d;
  }
}
